.maincontentarea {
    background:none;
}


.submen  {
    width: 300px;
    background: white;
    color: rgba(0, 0, 0, 0.87);
    -webkit-clip-path: circle(24px at 30px 24px);
    clip-path: circle(24px at 32px 24px);
    -webkit-transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
    transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
}

.submen:hover {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.75s;
    transition-duration: 0.75s;
    -webkit-clip-path: circle(390px at 225px 24px);
    clip-path: circle(390px at 150px 24px);
}

.submen  > a {
    display: block;
    line-height: 50px;
    padding: 0 20px;
    color: inherit;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.submen  > a:hover { background: #ffe082; }

.submen  >a:active { background: #ffca28; }

.submen  > .navicon {
    padding: 23px 20px;
    cursor: pointer;
    -webkit-transform-origin: 32px 24px;
    -ms-transform-origin: 32px 24px;
    transform-origin: 32px 24px;
}

.submen  > .navicon div {
    position: relative;
    width: 20px;
    height: 2px;
    background: rgba(0, 0, 0, 0.87);
}

.submen  >.navicon div:before,
.submen  > .navicon div:after {
    display: block;
    content: "";
    width: 20px;
    height: 2px;
    background: rgba(0, 0, 0, 0.87);
    position: absolute;
}

.submen  > .navicon div:before { top: -7px; }

.submen  > .navicon div:after { top: 7px; }



.menutrigger{
    /*position: absolute;*/
    /*background-color: white;*/
    padding:0px;
    right:0px;
    z-index:200;
}

.menutrigger:hover {
    background-color: white;
}

.menutrigger > div {
    background-color: white;
}
/**
    Styles for the Dialog tests.
    TODO: change the below classnames to production classes bevore commiting
****/
.drmenuItem {
    display:block;
    position:relative;

    background-color:white;
    padding:10px;
}

drop-down {
    position:relative;
}

.dialogdemoBasicUsage .full {
    width: 100%;
    height: 100%;
}
.dialogdemoBasicUsage .gap {
    width: 50px;
}
.dialogdemoBasicUsage .md-subheader {
    background-color: #dcedc8;
    margin: 0px;
}
.dialogdemoBasicUsage h2.md-subheader {
    margin: 0px;
    margin-left: -24px;
    margin-right: -24px;
    margin-top: -24px;
}
.dialogdemoBasicUsage h2.md-subheader.md-sticky-clone {
    margin-right: 0px;
    margin-top: 0px;
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.16);
}
.dialogdemoBasicUsage h2 .md-subheader-content {
    padding-left: 10px;
}





.searchtile {
    position:absolute;
    top:0;
    left:0;
    width:100%;
}





md-grid-list {
    margin: 8px;
}
.gray {
    background: #f5f5f5; }
 .green {
    background: #b9f6ca; }
 .yellow {
    background: #ffff8d; }
 .blue {
    background: #84ffff; }
 .purple {
    background: #b388ff; }
 .red {
    background: #ff8a80; }


.istartsidemen * md-list .md-button {
    color: inherit;
    font-weight: 500!important;
    text-align: left;
    width: 100%;
    padding: 20px;
}

div.rssFeedWrapper {
   height: inherit;
   overflow: scroll;
}

.rssFeedWrapper * ul {
    height: auto;
}

.rssFeedWrapper * li {
    display: block;
    padding:10px;
}

.rssFeedWrapper * span {
    position: relative !important;
}

.selectInputScrollBox {
    padding-left:30px;

    width:250px;
    height: 200px;
    overflow: scroll;
}
.searchresultwrapp {
    overflow: scroll;
}
.searchResultBox {
    height: 100%;
    width: 100%;
}

.searchResultBox > li {
    height: 50px;
    overflow:hidden;
    border:1px solid white;
}

.red {
    border:2px solid red !important;
}

.searchResultList {
    opacity: 0.9;
    overflow: scroll;
}