<span ng-if="item[0].issearch"  ng-class="flex ">
                                    <md-toolbar  is-on-hover ng-show="hover==true && editMode==false" class="md-whiteframe-z2">
                                        <md-content  md-theme="docs-dark" class="md-padding" layout="row" layout-sm="column">
                                            <md-input-container class="md-docs-dark-theme">
                                                <label><i18n>search</i18n></label>
                                                <input search-widget>
                                            </md-input-container>
                                            <!-- <md-button><i18n>search</i18n></md-button> -->
                                        </md-content>
                                    </md-toolbar>
</span>