    <md-toolbar   md-scroll-shrink class="md-whiteframe-z2"  >
        <div class="md-toolbar-tools" >
            <span class="ng-binding">
                <md-button class="md-hue-1" ng-click="go('/')" >
                    <md-icon icon="/img/icons/ic_arrow_back_36px.svg" style="width: 24px; height: 24px;"></md-icon>
                </md-button>
             </span>
            <md-content  md-theme="docs-dark" class="md-padding" layout="row" layout-sm="column">

                <span class="md-flex">

                </span>
                <md-input-container>
                    <label>Search App</label>
                    <input ng-model="filterApps" >
                </md-input-container>
            </md-content>
        </div>
    </md-toolbar>
<md-content istart-calc-screen-size style="height: 400px;overflow:scroll" class="md-padding">
    <md-list >
        <md-item id="anchor{{app.id}}"  ng-repeat="app in (filteredItems = ( appList|  filter:filterApps))" class="appListItem animate-repeat">
            <md-item-content class="animate-repeat" ng-animate="'animate'">
                <div class="md-tile-left ">
                    <img app-starter app-icon-set-src="{{app.icons}}" style="width: 48px"/>
                </div>
                <div class="md-tile-content">
                        <md-switch ng-model="app.enabled" aria-label="Switch 2" ng-change="checkClick(app.id, app.enabled)" class="md-warn">
                            <h3 ng-show="app.enabled==true" app-starter>{{app.shortName}}</h3>
                            <span ng-show="app.enabled==false">{{app.shortName}} <i18n>disabled</i18n></span>
                            <!--<md-button ng-show="app.enabled==false"  ng-click="enableApp(app.id)">{{app.shortName}} enable</md-button>-->
                        </md-switch>
                    <p>
                        {{app.description}}
                    </p>
                </div>
            </md-item-content>
        </md-item>
    </md-list>
</md-content>


