<div class="menutrigger md-whiteframe-z4" ng-show="editMode==true">
    <div class="menu " ng-mouseenter="menuOpen()"  ng-mouseleave="menuOpen()"  >
        <span>{{items.menuLabel}}</span>

            <md-button ng-if="item.edittile" class="drmenuItem" ng-show="openmenu==true" class="item"
                 mode="edit"
                 tile="tile"
                 add-new-tile
                 ng-repeat="item in items.items"
                 ng-click='item.action($event,item.data)'>{{item.label}}
            </md-button>

            <md-button ng-if="!item.edittile" class="drmenuItem" ng-show="openmenu==true" class="item"
                 mode="edit"
                 tile="tile"
                 ng-repeat="item in items.items"
                 ng-click='item.action($event,item.data)'>{{item.label}}
            </md-button>
    </div>
</div>