<h2 class="pheader" >iStart</h2>

<app-header hover="hover" edit-mode="editMode"></app-header>



<global-search-directive></global-search-directive>
<md-sidenav ng-class="{'md-sidenav-left':alternativeHeader===false, 'md-sidenav-right':alternativeHeader===true}" class=" md-whiteframe-z2 istartsidemen" md-component-id="right">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">istart V2 Options</h1>
    </md-toolbar>
    <md-content  class="md-padding">
        <md-list>
            <md-item >
                <md-item-content>
                    <md-button ng-click="closeMenu()" class="md-primary">
                        <i18n>close_menu</i18n>
                    </md-button>
                </md-item-content>
            </md-item>
         </md-list>
        <istart-options-menu></istart-options-menu>
    </md-content>
</md-sidenav>
<div class="container" id="wrap" style="position:absolute;top:0;left:0" right-scroll>
        <!--
            restore the old tiles and try to make the loop much faster
            maybe switch to native javascript loop and mustache rendering engine??
        -->
    <div class="pagerContainer" style="position: absolute;" id="interpolateed">
        {{interpolatedHtml}}
         <!--
            <ul class="pagerTest itemholders"
                istart-calc-screen-size
                ng-repeat="item_desktop in items"
                id="p{{$index}}">
                <metro-item  ng-repeat="item in  item_desktop track by item[0].uuid"
                             my-repeat-directive
                             tile-info="item[0]"
                             edit-mode="editMode"
                             ></metro-item>

            </ul>
            -->
        <!-- repace this with an straight js loop and $interpolate -->
    </div>


</div>

