<span   class="">
<md-toolbar   md-scroll-shrink class="md-whiteframe-z2 " >
    <div class="md-toolbar-tools" >
            <span class="ng-binding">
                <md-button ng-click="toggleMenu()">
                    <md-icon icon="/img/icons/ic_menu_24px.svg" style="width: 24px; height: 24px"></md-icon>
                </md-button>
                <md-button class="md-hue-1 " ng-click="go('/apps')">
                    <md-icon icon="/img/icons/ic_apps_48px.svg" style="width: 24px; height: 24px;"></md-icon>
                    <i18n>all_apps</i18n>
                </md-button>
                <md-button class="md-hue-1" ng-click="loadExtensions()">
                    <md-icon icon="/img/icons/ic_extension_48px.svg" style="width: 24px; height: 24px;"></md-icon>
                    <i18n>extensions</i18n>
                </md-button>
                <md-button class="md-hue-1" ng-click="loadDownloads()">
                    <md-icon icon="/img/icons/ic_file_download_48px.svg" style="width: 24px; height: 24px;"></md-icon>
                    <i18n>downloads</i18n>
                </md-button>
                <md-button class="md-hue-1" ng-click="loadBookmarks()">
                    <md-icon icon="/img/icons/ic_bookmark_24px.svg" style="width: 24px; height: 24px;"></md-icon>
                    <i18n>bookmarks</i18n>
                </md-button>
            </span>
        <md-content  md-theme="docs-dark" class="md-padding" layout="row" layout-sm="column">

                <span class="md-flex">

                </span>
            <md-input-container>
                <label><i18n>search</i18n></label>
                <input ng-model="filterTiles" >
            </md-input-container>

        </md-content>
        <md-switch class="md-warn" ng-model="editMode">
            <md-icon icon="/img/icons/ic_mode_edit_24px.svg" style="width: 24px; height: 24px;"></md-icon>
        </md-switch>
    </div>
</md-toolbar>
 <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="right">
     <md-toolbar class="md-theme-light">
         <h1 class="md-toolbar-tools">istart V2 Options</h1>
     </md-toolbar>
     <md-content  class="md-padding">
         <md-button ng-click="closeMenu()" class="md-primary">
            <i18n>close menu</i18n>
         </md-button>
         <istart-options-menu></istart-options-menu>
     </md-content>
 </md-sidenav>
<md-content flex istart-calc-screen-size style="height: 400px;overflow:scroll" class="md-padding">
    <div>
        <h2>MOST RECENT PAGES</h2>
    </div>
         <span layout="row" layout-wrap class="pagerTest" style="width:100%;position:relative;" >
             <div>
                HU
             </div>
         </span>
        <div>
            <h2>CUSTOM TILES</h2>
        </div>
        <div my-repeat-directive class="itemholders" ng-repeat="item_desktop in items track by $index" layout-align="center center" >
         <span layout="row" layout-wrap class="pagerTest" style="width:100%;position:relative;" calc-items items="item_desktop" id="tileholder{{$index}}"  ng-model="items[0]" >
                <metro-item  flex="20" ng-repeat="item in  (filteredTiles = ( item_desktop|  filter:filterTiles)) track by item[0].uuid"
                             my-repeat-directive
                             tile-info="item[0]"
                             edit-mode="editMode"
                             class=" "></metro-item>
          </span>
        </div>
</md-content>
<md-button hide-top-scroll   ng-show="hide==true" class="md-fab md-primary pos-down-right" aria-label="scroll to top" >
    <md-icon icon="/img/icons/ic_arrow_drop_up_48px.svg" style="width: 24px; height: 24px;"></md-icon>
</md-button>


</span>