<md-list>
    <md-item >
        <md-item-content>

                <md-button class="md-primary"
                           ng-attr-add-new-tile>
                    add new tile
                </md-button>
        </md-item-content>
    </md-item>
    <md-item >
        <md-item-content>
                <md-button class="md-primary"
                           add-new-search-tile>
                    add new search tile
                </md-button>
        </md-item-content>
    </md-item>
    <md-item >
        <md-item-content>
            <md-button class="md-primary"
                       add-new-system-tile>
                    add new live tile
            </md-button>
        </md-item-content>
    </md-item>
    <md-item >
        <md-item-content>
                <md-button class="md-primary"
                           app-settings>
                    settings
                </md-button>
        </md-item-content>
    </md-item>
    <md-item >
        <md-item-content>
            <md-button class="md-primary"
                       export-import-manager>
                export data
            </md-button>
        </md-item-content>
    </md-item>
    <md-item>
        <md-item-conten>
            <md-button class="md-primary" ng-click="loadUrl('http://youtu.be/mr07qfk9g9g')">
                Help Videos ?
            </md-button>
        </md-item-conten>
    </md-item>
    <md-item>
        <md-item-conten>
            <app-version></app-version>
        </md-item-conten>
    </md-item>
</md-list>




