<md-list>
    <md-item >
        <md-item-content>
            <div class="md-tile-content">
                <md-button class="md-primary"
                           ng-attr-add-new-tile="">
                    add new tile
                </md-button>
            </div>
        </md-item-content>
    </md-item>
    <md-item >
        <md-item-content>
            <div class="md-tile-content">
                <md-button class="md-primary"
                           add-new-search-tile>
                    add new search tile
                </md-button>
            </div>
        </md-item-content>
    </md-item>
    <md-item >
        <md-item-content>
            <div class="md-tile-content">
                <md-button class="md-primary"
                           app-settings>
                    settings
                </md-button>
            </div>
        </md-item-content>
    </md-item>
</md-list>




