<md-card   istart-backdop-tester class="material-tile-left" data-drag="true"  id="item_{{outerIndex}}_{{$index}}" background-config  style="height: 200px" >
    <span ng-if="tileInfo.iswidget" class="md-lime-theme" >
                <span ng-if="tileInfo.issearch"  class="flex">
                    <md-toolbar is-on-hover ng-show="hover==true" class="md-whiteframe-z2">
                        <md-content  md-theme="docs-dark" class="md-padding" layout="row" layout-sm="column">
                            <md-input-container class="md-docs-dark-theme">
                                <label><i18n>search</i18n></label>
                                <input search-widget>
                            </md-input-container>
                        </md-content>
                    </md-toolbar>
                </span>
                <span ng-if="!tileInfo.issearch">
                </span>
    </span>
    <icon-switcher></icon-switcher>
    <md-card-content>
        <h2 ng-if="tileInfo.name" >{{tileInfo.name}}</h2>
        <h2 ng-if="tileInfo.label">{{tileInfo.label}}</h2>
        <p>
            <!-- TODO: implement here userful stats for the user! example, how many times was the app started... or something like this -->
        </p>
    </md-card-content>
</md-card>