<span >
  <span ng-if="alternate===false">
      <div style="position: fixed;height:80px;top:0;left:0;width: 100%;z-index:1;border:0px solid red" is-on-hover></div><!--ng-show="hover==true||editMode==true"-->
        <md-toolbar md-scroll-shrink class="md-whiteframe-z2 " is-on-hover ng-show="hover==true||editMode==true" style="position:fixed;" >
            <div class="md-toolbar-tools">
                <md-button ng-click="toggleMenu()">
                    <md-icon md-svg-src="/img/icons/ic_menu_24px.svg" style="width: 24px; height: 24px"></md-icon>
                    menu
                </md-button>
                <md-button class="md-hue-1 " ng-click="go('/apps')">
                    <md-icon md-svg-src="/img/icons/ic_apps_48px.svg" style="width: 24px; height: 24px;"></md-icon>
                    <i18n>all_apps</i18n>
                </md-button>
                <md-button class="md-hue-1 " ng-click="loadOriginNewTab()">
                    <md-icon md-svg-src="/img/icons/ic_apps_48px.svg" style="width: 24px; height: 24px;"></md-icon>
                    <i18n>origin_tab</i18n>
                </md-button>

                <md-button class="md-hue-1" ng-click="loadExtensions()">
                    <md-icon md-svg-src="/img/icons/ic_extension_48px.svg" style="width: 24px; height: 24px;"></md-icon>
                    <i18n>extensions</i18n>
                </md-button>
                <md-button class="md-hue-1" ng-click="loadDownloads()">
                    <md-icon md-svg-src="/img/icons/ic_file_download_48px.svg" style="width: 24px; height: 24px;"></md-icon>
                    <i18n>downloads</i18n>
                </md-button>
                <md-button class="md-hue-1" ng-click="loadBookmarks()">

                    <i18n>bookmarks</i18n>
                </md-button>
                <span style="width:250px"></span>
                <md-switch class="md-warn" ng-model="editMode" ng-change="changed(editMode)" aria-label="toggle edit mode">
                    <md-icon icon="/img/icons/ic_mode_edit_24px.svg" style="width: 24px; height: 24px;"></md-icon>
                    edit mode: {{editMode}}
                </md-switch>
                </md-content>

            </div>
        </md-toolbar>
        <div style="position: fixed;top:0px;left:10px;z-index:2" ng-show="hover==false">
            <md-button ng-click="toggleMenu()" >
                <md-icon md-svg-src="/img/icons/ic_menu_24px.svg" style="width: 24px; height: 24px" ng-style="menuIconStyle"></md-icon>
            </md-button>
        </div>
    </span>
    <span ng-if="alternate===true">
        <div class="fastAccessBar">
            <md-button class="md-hue-1 " ng-click="go('/apps')" ng-style="menuColor">
                <md-icon md-svg-src="/img/icons/ic_apps_48px.svg" style="width: 24px; height: 24px;"></md-icon>
                <i18n>all_apps</i18n>
            </md-button>
            <md-button class="md-hue-1 " ng-click="loadOriginNewTab()" ng-style="menuColor">
                <md-icon md-svg-src="/img/icons/ic_apps_48px.svg" style="width: 24px; height: 24px;"></md-icon>
                <i18n>origin_tab</i18n>
            </md-button>

            <md-button class="md-hue-1" ng-click="loadExtensions()" ng-style="menuColor">
                <md-icon md-svg-src="/img/icons/ic_extension_48px.svg" style="width: 24px; height: 24px;"></md-icon>
                <i18n>extensions</i18n>
            </md-button>
            <md-button class="md-hue-1" ng-click="loadDownloads()" ng-style="menuColor">
                <md-icon md-svg-src="/img/icons/ic_file_download_48px.svg" style="width: 24px; height: 24px;"></md-icon>
                <i18n>downloads</i18n>
            </md-button>
            <md-button class="md-hue-1" ng-click="loadBookmarks()" ng-style="menuColor">

                <i18n>bookmarks</i18n>
            </md-button>
        </div>
        <div  class="headerReplace">
            <md-button ng-click="toggleMenu()" >
                <md-icon md-svg-src="/img/icons/ic_menu_24px.svg" style="width: 24px; height: 24px" ng-style="menuIconStyle"></md-icon>
            </md-button>
        </div>
    </span>
</span>