<md-dialog aria-label="sign in or create Profile" md-theme="docs-dark">
    <md-content layout="row">
        <md-content  layout="column" style="max-width: 400px" ng-hide="load==true||success==true">
            <md-subheader class="md-sticky-no-effect">create new iStart User!</md-subheader>
            <md-input-container>
                <label>username</label>
                <input ng-model="user.username">
            </md-input-container>
            <md-input-container>
                <label>E-mail</label>
                <input type="email" ng-model="user.email" required="">
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input type="password" ng-model="user.password" required="">
            </md-input-container>
            <md-input-container>
                <label>Password repeat :)</label>
                <input type="password" ng-model="passwordcheck" required="">
            </md-input-container>
            <md-button ng-click="register()">
                create New User
            </md-button>
        </md-content>
        <md-content layout="column" ng-hide="load==true||success==true">
           <md-subheader class="md-sticky-no-effect">login</md-subheader>
            <md-input-container>
                <label>Mail</label>
                <input type="email" ng-model="user.mail">
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input type="password" ng-model="user.password">
            </md-input-container>
            <md-button ng-click="login()">
                login
            </md-button>
            <md-button ng-click="resendPW()">
                forgot password ? - Send a recovery code to my email address!
            </md-button>
        </md-content>
        <md-content ng-show="load==true" layout="center center">
            <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
        </md-content>
    </md-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="cancel()">
            close
        </md-button>
    </div>
</md-dialog>